<!DOCTYPE html>
<html ng-app="venueApp">
<head>
  <meta charset=utf-8 />
  <title>Search venue app</title>
  <script src="angular.js"></script>
</head>
<body>
  <div ng-controller="VenueCtrl as vm">
    <div>
      <div ng-model="vm.message">{{vm.message}}</div>
    </div>
    <div>
      <h3>Search Venues <input type="text" ng-model="vm.search" ng-change="vm.change()" /></h3>
    </div>
    <div>
      <table>
        <tr>
          <th><b>Name</b></th>
          <th><b>Address</b></th>
          <th><b>Distance (m)</b></th>
        </tr>
        <tr ng-repeat="venue in vm.venues">
          <td>{{venue.name}}</td>
          <td>{{venue.location.address}}</td>
          <td>{{venue.location.distance}}</td>
        </tr>
      </table>
    </div>
  </div>
  
  <script src="values.js"></script>
  <script src="constants.js"></script>
  <script src="location-service.js"></script>
  <script src="venues-fetching-service.js"></script>
  <script src="venue-controller.js"></script>
  <script src="app.js"></script>
</body>
</html>